<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>

  <header>
    <%- title %>
  </header>

  <div class="row-container">
    <div id="homeNavbar"class="col navbar-col">
      <nav class="vertical-navbar">
        <ul>
          <a href="/">HOME</a>
          <a href="/signup">SIGN UP</a>
          <a href="/signin">SIGN IN</a>
          <a href="/signout">SIGN OUT</a>
        </ul>
      </nav>
    </div>

    <div class="col">
      <h6><strong>STOCKS, PRICES AND UNITS</strong>(NB! This is a mockup, the table needs to be populated from the
        database)</h6>
      <table>
        <thead>
          <tr>
            <th>STOCK</th>
            <th>SYMBOL</th>
            <th>PRICE</th>
            <th>UNITS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Wood Gaming</td>
            <td>WDG</td>
            <td>VAL 150.00</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Kim's Sportsdiner</td>
            <td>KSD</td>
            <td>VAL 280.00</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Vic's Snacks</td>
            <td>VIC</td>
            <td>VAL 280.00</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Frydenlund Fluids</td>
            <td>FRY</td>
            <td>VAL 280.00</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Alex's Business Solutions</td>
            <td>ABS</td>
            <td>VAL 280.00</td>
            <td>50</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <h6><strong>STOCKS, PRICES AND UNITS</strong>(NB! This is a mockup, the table needs to be populated from the
        database)</h6>
      <table>
        <thead>
          <tr>
            <th>STOCK</th>
            <th>SYMBOL</th>
            <th>PRICE</th>
            <th>UNITS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Wood Gaming</td>
            <td>WDG</td>
            <td>VAL 150.00</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Kim's Sportsdiner</td>
            <td>KSD</td>
            <td>VAL 280.00</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Vic's Snacks</td>
            <td>VIC</td>
            <td>VAL 280.00</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Frydenlund Fluids</td>
            <td>FRY</td>
            <td>VAL 280.00</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Alex's Business Solutions</td>
            <td>ABS</td>
            <td>VAL 280.00</td>
            <td>50</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <h6><strong>STOCK ANALYSIS</strong></h6>
      <p>Graph to show index pattern of selected stock</p>
    </div>
  </div>

  <footer>
    <%- footer %>
  </footer>

</body>

</html>