<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/CSS/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Generic view file used as a simple run test</h3>
  </body>
</html>
