<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>  
    <%- include('./partials/header.ejs') %>
    <section>
      <div id="omOssContainer" class="container container-fixed">
          <div class="container">              
            <img id="omOssPic" src="../images/GoldMed/GoldMed bilde av oss.jpg" alt="Kath&Will">
          </div>
          <div class="profile-text">
              <br><br>"Det er tanken som teller - eller?<br><br>

              Formål:<br><br>
              Kurset gir en innføring i ulike terapiformer, metoder og teknikker til bruk i endringsarbeid ved forskjellige problemstillinger, 
              med hovedvekt på smerte og utmattelse. Kurset gir ulike verktøy, 
              både til egen utvikling og til pasientrettet virksomhet, og vil stimulere til videre fordypning.
              <br><br>Målgruppe:<br><br>
              Helsepersonell av ulike kategorier, først og fremst leger og fysioterapeuter,
              men kurset er også velegnet for psykologer, sykepleiere og andre som arbeider klinisk.
              <br><br>Kursinnhold:<br><br>
              Kurset tar for seg ulike modeller for sykdomsforståelse og hvorfor det er behov for forskjellige tilnærminger for å kunne 
              hjelpe pasienter med komplekse problemer som medfører smerte, utmattelse og andre subjektive helseplager. Likheter og 
              forskjeller mellom ulike terapiformer presenteres på en grunnleggende måte, uten krav til forhåndskunnskaper. Kurset gir 
              innsikt og ferdigheter i blant annet kognitiv atferdsterapi, metakognitiv terapi, aksept og forpliktelsesterapi, og 
              mindfulness, men demonstrerer også teknikker fra andre, mer utradisjonelle metoder.
              De psykologiske metodene vil bli integrert med metoder basert på nyere kunnskap om nevrofysiologi og hjernens 
              plastisitet. Kurset er basert på forelesninger, med aktiv deltagelse i form av enkle praktiske øvelser i de 
              forskjellige teknikkene.
              <br><br>
              Kontakt GoldMed AL (organisasjonsnummer 998 194 466) ved daglig leder William Goldsack.  
              <br><br>
              E-post: william.goldsack@gmail.com    Telefon: 92030598 
          </div>
      </div>
    </section>
  </body>
  <%- include('./partials/footer.ejs') %> 
</html>
