<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/navbar.ejs') %>  
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <div class="profiles-container">
      <div class="profile">
        <img class="profile-img" src="../images/Goldmed/Katharina svart hvitt.jpg" alt="Katharina">
        <div class="profile-text">
          <b>Katharina:</b><br> Er utdannet psykolog ved Universitetet i Oslo, ferdig 2015.<br>
          Har videreutdanning i kognitiv terapi gjennom Norsk Forening for Kognitiv Terapi samt kursing innen andre terapiformer, med hovedvekt på Aksept og Forpliktelsesterapi/ACT.<br>
          Har arbeidet både med barn og unge i førstelinjetjenesten og voksne i spesialisthelsetjenesten.<br>
          Har 5 års erfaring fra rehabiliteringsfeltet både ved Rehabiliteringssenteret AiR og Vikersund Bad rehabiliteringssenter.
        </div>
      </div>
      <div class="profile">
        <img class="profile-img" src="../images/Goldmed/William svart hvitt.jpg" alt="William">
        <div class="profile-text">
          <b>William:</b><br> Tok medisinsk embetseksamen ved Universitetet i Oslo i 1983.<br>
          Han ble spesialist i allmennmedisin 1991 og arbeidet ni år i Sverige.<br>
          I 1994 begynte han å arbeide på NIMI (Norsk Idrettsmedisinsk Institutt) og fikk etter hvert spesielt interesse for personer som utviklet kroniske smerter og utmattelsessyndrom.<br>
          Han ble spesialist i fysikalskmedisin og rehabilitering i 2004, og har senere studert og fordypet seg videre innen en rekke terapiformer og metoder.
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>