<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/header.ejs') %>
      <img src="/goldmed/images/GoldMed/Tidligere Kurs/Handsup.jpg" alt="Hands Up" />
      <%- include('./partials/footer.ejs') %>
</body>

</html>