<!DOCTYPE html>
<html id="homePage">
  <head>
    <title><%= title %></title>
    <%-include('./partials/head.ejs')%>
  <body >
    
      <%-include('./partials/navbar.ejs')%>

      <div >
          <a id="websiteName" onclick="('http://localhost:3002/products')" href="/products">ONLINE TECH SHOP</a> 
      </div>

    
    
    <%-include('./partials/footer.ejs')%> 
  </body>
</html>
