<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%-include('./partials/head.ejs')%>
  <body>
    
    <%-include('./partials/navbar.ejs')%>
			
    <form>
        <section>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </section>
        <section>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" autocomplete="password" required>
        </section>
        <button type="submit" method="POST" onclick="event.preventDefault();login('http://localhost:3002/login')">Login</button>
    </form>

     <%-include('./partials/footer.ejs')%> 

  </body>
  
</html>