<!doctype html>
<html lang="en">

<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/navbar.ejs') %>

			<p>You are currently logged in as the <b>

				</b></p>
			<form action="/animals/logout" method="post">
				<button class="logout" type="submit">Sign out</button>
			</form>

			<div id="login-form">
				<form action="/animals/login/password" method="POST">
					<input type="text" name="username" placeholder="Username" required>
					<input type="password" name="password" placeholder="Password" required>
					<button type="submit">Login</button>
				</form>
				<hr>
				<p class="help">Don't have an account? <a href="/animals/signup">Sign up</a></p>
			</div>

			<footer class="info">
				<p>Created by <a href="https://www.noroff.no/en/">Noroff</a></p>
				<p>Part of Back-end Development Program at Noroff</p>
				<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
			</footer>
	</body>

</html>