<footer>
  <!-- Main footer container with background and spacing -->
  <div class="container-fluid header-content">
    <div class="container text-center">
      <div class="row mt-5">
        <!-- Phone and Email Section (left column) -->
        <div class="col-md-6 col-lg-6 d-flex flex-column align-items-center justify-content-center footer-big">
          <!-- Telephone icon and label -->
          <div class="r-icon mb-2"><i class="bi bi-telephone"></i></div>
          <h1>Ring</h1>
          <p>GoldMed AL: 920 30 593</p>
          <!-- Email icon and label -->
          <div class="r-icon mb-2 mt-3"><i class="bi bi-envelope"></i></div>
          <h1>Email</h1>
          <p>william.goldsack@gmail.com</p>
        </div>
        <!-- Social and About Section (right column) -->
        <div class="col-md-6 col-lg-6 d-flex flex-column align-items-center justify-content-center footer-big">
          <!-- Social media icons as SVGs for consistency -->
          <ul class="list-inline mb-3">
            <li class="list-inline-item">
              <!-- Facebook icon -->
              <a href="https://www.facebook.com/login.php/" target="_blank" aria-label="Facebook">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 320 512" aria-label="Facebook">
                  <path d="M279.14 288l14.22-92.66h-88.91V127.91c0-25.35 12.42-50.06 52.24-50.06H293V6.26S259.5 0 225.36 0c-73.22 0-121.09 44.38-121.09 124.72v70.62H22.89V288h81.38v224h100.2V288z"/>
                </svg>
              </a>
            </li>
            <li class="list-inline-item">
              <!-- X (Twitter) icon -->
              <a href="https://x.com/?lang=nb" target="_blank" aria-label="X">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1227" width="32" height="32" fill="currentColor" aria-label="X">
                  <path d="M1199.61 0H944.93L599.8 488.47 254.67 0H0l427.13 613.19L0 1227h254.67l345.13-488.47L944.93 1227H1199.6L772.47 613.81 1199.61 0ZM305.6 112.09h143.47l445.93 648.13h-143.47L305.6 112.09ZM894.4 1114.91H750.93L305 466.78h143.47l445.93 648.13Z"/>
                </svg>
              </a>
            </li>
            <li class="list-inline-item">
              <!-- YouTube icon -->
              <a href="https://www.youtube.com/" target="_blank" aria-label="YouTube">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 576 512" aria-label="YouTube">
                  <path d="M549.655 124.083c-6.281-23.725-24.958-42.401-48.684-48.684C458.281 64 288 64 288 64s-170.281 0-212.971 11.399c-23.726 6.283-42.403 24.959-48.684 48.684C16 166.773 16 256 16 256s0 89.227 10.345 131.917c6.281 23.725 24.958 42.401 48.684 48.684C117.719 448 288 448 288 448s170.281 0 212.971-11.399c23.726-6.283 42.403-24.959 48.684-48.684C560 345.227 560 256 560 256s0-89.227-10.345-131.917zM232 336V176l142.857 80L232 336z"/>
                </svg>
              </a>
            </li>
          </ul>
          <!-- Company description -->
          <p class="lead text-center">
            GoldMed AL er et aksjeselskap stiftet i 2012. Virksomheten er hovedsakelig
            basert på helsetjenester, med vekt på foredrags- og kursvirksomhet.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>