<section>
<header>
    <div class="container-fluid header-content">
        <div class="row">
            <div class="col">
                <div class="content-box text-center text-light">
                    <h1 id="goldMed">GoldMed <span id="AL">AL</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>
</section>