<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed">GoldMed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed/omOss">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed/tjenester">Tjenester</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed/kurs">Kurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed/ukraina">Ukraina</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">Guest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goldmed/signup">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>